.btn {
    &-lm {
        background-color: $white;
        color: $accent;

        &:hover,
        &:focus {
            background-color: $btn_activ-lm;
        }
    }

    &-dm {
        background-color: $accent;
        color: $white;

        &:hover,
        &:focus {
            background-color: $btn_activ-dm;
        }
    }

    min-height: 44px;
    padding-right: 35px;
    padding-left: 35px;

    text-align: center;

    border: none;
    border-radius: 22px;

    cursor: pointer;
}

.title {
    color: $accent;

    font-family: $secondary-font;
    font-size: 34px;
    line-height: 1.147;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;

    @include mq(tablet) {
        font-size: 48px;
    }

    @include mq(desktop) {
        font-size: 58px;
    }
}

.label {
    color: $second;

    font-family: $secondary-font;
    font-size: 18px;
    line-height: 1.153;
    text-align: center;
    text-transform: uppercase;

    @include mq(tablet) {
        font-size: 26px;
    }

    @include mq(desktop) {
        font-size: 30px;
    }
}