
.slider__img-box {
display: flex;
    margin-bottom: 29px;
    @include mq(tablet-only) {
        margin-bottom: 19px;
    }
    @include mq(desktop) {
        margin-bottom: 15px;
    }
}
.slider_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.slider__text-box {
    text-align: center;
    margin-bottom: 52px;
}
    @include mq(tablet-only) {
        margin-bottom: 42px;
    }
    @include mq(desktop) {
        margin-bottom: 34px;
    }

.slider_address-box {
    text-align: center;
}
