// COLORS

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$accent: rgb(212, 20, 67);
$second: rgb(255, 165, 186);
$third: rgb(144, 126, 130);
$light-pink: rgb(255, 184, 202);
$light-green: rgb(194, 226, 151);
$creme: rgb(240, 209, 165);
$bg: rgb(255, 245, 246);
$ellipce: rgb(217, 217, 217);
$bg-burger: rgb(225, 121, 146);
$btn-activ-lm: rgb(236, 235, 235);
$btn-activ-dm: rgb(199, 19, 62);
