<!-- Advantages -->
<section class="advantages">
    <div class="advantages__container container">
        <h2 class="title visually-hidden">Our advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <div class="advantages-list__point advantages-list__point--first">
                    <p>721</p>
                </div>
                <p class="advantages-list__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-list__point advantages-list__point--second">
                    <p>16kg</p>
                </div>
                <p class="advantages-list__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-list__point advantages-list__point--third">
                    <p>84</p>
                </div>
                <p class="advantages-list__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>