<section class="advantages">
    <div class="advantages__container container">
        <h2 class="advantages__title visually-hidden">Our advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <div class="advantages__point advantages__point--first">721</div>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__point advantages__point--second">16kg</div>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__point advantages__point--third">84</div>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>
