<section class="contacts-section">
    <div class="contacts-container">
        <h2 class="contacts-container__title">Contacts</h2>
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <p class="contacts-list__category">CAFE</p>
                    <p class="contacts-list__name">Chicago</p>
                    <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="contacts-list__schedule">
                        <p class="contacts-list__day">Monday - Friday</p>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-list__schedule">
                        <p class="contacts-list__day">Saturday - Sunday</p>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts-list__address">
                        <a class="contacts-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>

                <li class="contacts-list__item">
                    <p class="contacts-list__category">FOODTRUCK</p>
                    <p class="contacts-list__name">Los Angeles</p>
                    <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="contacts-list__schedule">
                        <p class="contacts-list__day">Monday - Friday</p>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-list__schedule">
                        <p class="contacts-list__day">Saturday - Sunday</p>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts-list__address">
                        <a class="contacts-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>

                <li class="contacts-list__item">
                    <p class="contacts-list__category">CAFE</p>
                    <p class="contacts-list__name">New York</p>
                    <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="contacts-list__wrapper">
                        <p class="contacts-list__day">Monday - Friday</p>
                        <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-list__wrapper">
                        <p class="contacts-list__day">Saturday - Sunday</p>
                        <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="contacts-list__address">
                        <a class="contacts-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
            </ul>

            <button>Our Locations</button>
            <button>Franchise</button>

    </div>
</section>
