<section id="contact" class="section-contacts">
  <div class="contacts-container container">
    <h2 class="title visually-hidden">Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <div class="contacts-list__wrapper">
          <p class="contacts-list__category">CAFE</p>
          <p class="contacts-list__name">Chicago</p>
          <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-list__timetable">
          <div class="contacts-list__schedule contacts-list__schedule--bottom">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-list__schedule">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <div class="contacts-list__address">
          <a class="contacts-list__link" href="tel:+610383766284" rel="noreferrer noopener"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-list__link" href="mailto:noreply@envato.com" rel="noreferrer noopener"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts-list__item">
        <div class="contacts-list__wrapper">
          <p class="contacts-list__category contacts-list__category--width">FOODTRUCK</p>
          <p class="contacts-list__name">Los Angeles</p>
          <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-list__timetable">
          <div class="contacts-list__schedule contacts-list__schedule--bottom">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-list__schedule">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <div class="contacts-list__address">
          <a class="contacts-list__link" href="tel:+610383766284" rel="noreferrer noopener"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-list__link" href="mailto:noreply@envato.com" rel="noreferrer noopener"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts-list__item">
        <div class="contacts-list__wrapper">
          <p class="contacts-list__category">CAFE</p>
          <p class="contacts-list__name">New York</p>
          <p class="contacts-list__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>

        <div class="contacts-list__timetable">
          <div class="contacts-list__schedule contacts-list__schedule--bottom">
            <p class="contacts-list__day">Monday - Friday</p>
            <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-list__schedule">
            <p class="contacts-list__day">Saturday - Sunday</p>
            <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <div class="contacts-list__address">
          <a class="contacts-list__link" href="tel:+610383766284" rel="noreferrer noopener"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-list__link" href="mailto:noreply@envato.com" rel="noreferrer noopener"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>

    <div class="container__buttons">
      <button type="button" class="btn btn-dm container__button container__button--start">
        Our Locations

        <svg class="container__icon" width="8" height="8">
          <use href="images/svg/icons.svg#icon-Vector-1"></use>
        </svg>
      </button>
      <button type="button" class="btn btn-lm container__button container__button--end">
        Franchise

        <svg class="container__icon" width="8" height="8">
          <use href="images/svg/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
