<section class="container reviews">
  <div class="slider">
    <div class="slider_page">
      <div class="slider__img-box">
        <img class="slider_img"
          src=""
          alt="testimonials"
          width="85"
          height="85"
        />
      </div>
      <div class="slider__text-box">
        <p class="slider_text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="slider_address-box">
        <p class="slider_address">Emily, Los Angeles</p>
      </div>
    </div>
    <div class="slider_page">
      <div class="slider__img-box">
        <img
          src=""
          alt="testimonials"
          width="85"
          height="85"
        />
      </div>
      <div class="slider__text-box">
        <p class="slider_text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="slider_address-box">
        <p class="slider_address">Emily, Los Angeles</p>
      </div>
    </div>
    <div class="slider_page">
      <div class="slider__img-box">
        <img
          src=""
          alt="testimonials"
          width="85"
          height="85"
        />
      </div>
      <div class="slider__text-box">
        <p class="slider_text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="slider_address-box">
        <p class="slider_address">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
