<section class="reviews">
  <div class="slider container">
    <div class="slider__page">
      <div class="slider__body">
        <div class="slider__img-box">
          <img
            class="slider__img"
            src="./images/mobile/customer_reviews/customer1mobile.png"
            alt="testimonials"
            width="85"
            height="85"
          />
        </div>
        <div class="slider__item">
          <div class="slider__icon-box">
            <svg class="slider__icon" width="54" height="40">
              <use href="./images/svg/icons.svg#quotes"></use>
            </svg>
          </div>
          <div class="slider__text-box">
            <div class="slider__text-wrapper">
              <p class="slider_text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="slider__point">
          <svg class="slider__point-iqon" width="32" height="4">
            <use href="./images/svg/icons.svg#circles"></use>
          </svg>
        </div>
        <div class="slider__address-box">
          <h2 class="slider__address">Emily, Los Angeles</h2>
        </div>
      </div>
    </div>
    <div class="slider__page">
      <div class="slider__body">
        <div class="slider__img-box">
          <img
            class="slider__img"
            src="./images/mobile/customer_reviews/customer1mobile.png"
            alt="testimonials"
            width="85"
            height="85"
          />
        </div>
        <div class="slider__item">
          <div class="slider__icon-box">
            <svg class="slider__icon" width="54" height="40">
              <use href="./images/svg/icons.svg#quotes"></use>
            </svg>
          </div>
          <div class="slider__text-box">
            <div class="slider__text-wrapper">
              <p class="slider_text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="slider__point">
          <svg class="slider__point-iqon" width="32" height="4">
            <use href="./images/svg/icons.svg#circles"></use>
          </svg>
        </div>
        <div class="slider__address-box">
          <h2 class="slider__address">Emily, Los Angeles</h2>
        </div>
      </div>
    </div>
    <div class="slider__page">
      <div class="slider__body">
        <div class="slider__img-box">
          <img
            class="slider__img"
            src="./images/mobile/customer_reviews/customer1mobile.png"
            alt="testimonials"
            width="85"
            height="85"
          />
        </div>
        <div class="slider__item">
          <div class="slider__icon-box">
            <svg class="slider__icon" width="54" height="40">
              <use href="./images/svg/icons.svg#quotes"></use>
            </svg>
          </div>
          <div class="slider__text-box">
            <div class="slider__text-wrapper">
              <p class="slider_text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="slider__point">
          <svg class="slider__point-iqon" width="32" height="4">
            <use href="./images/svg/icons.svg#circles"></use>
          </svg>
        </div>
        <div class="slider__address-box">
          <h2 class="slider__address">Emily, Los Angeles</h2>
        </div>
      </div>
    </div>
  </div>
</section>
