<footer class="footer">
    <div class="container">
        <p class="footer__heading">homemade ice cream made<span>with passion</span></p>
        <ul class="socials-list">
            <li class="socials-list__item">
                <a href="" class="socials-list__link" target="_blank">
                   <svg class="socials-list__icon" aria-label="github">
                       <use href=""></use>
                   </svg> 
                </a>
            </li>
            <li class="socials-list__item">
                <a href="" class="socials-list__link" target="_blank">
                    <svg class="socials-list__icon" aria-label="telegram">
                        <use href=""></use>
                    </svg> 
                 </a>
            </li>
            <li class="socials-list__item">
                <a href="" class="socials-list__link" target="_blank">
                    <svg class="socials-list__icon" aria-label="facebook">
                        <use href=""></use>
                    </svg> 
                 </a>
            </li>
        </ul>
        <div class="contacts__wrapper">
            <span class="contacts__text">Feel free to contact</span>
            <a class="contacts__tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </div>
    </div> 
    <div class="container footer__divider">
        <p class="footer__copyright">&copy; 2019 - IceCream.All Rights Reserved.</p>
    </div>
</footer>