<footer class="footer">
    <p class="footer__heading">homemade ice cream made<span>with passion</span></p>
    <ul class="socials__list">
        <li class="socials__item">
            <a href="" class="socials__link" target="_blank">
               <svg class="socials__icon" aria-label="github">
                   <use href=""></use>
               </svg> 
            </a>
        </li>
        <li class="socials__item">
            <a href="" class="socials__link" target="_blank">
                <svg class="socials__icon" aria-label="telegram">
                    <use href=""></use>
                </svg> 
             </a>
        </li>
        <li class="socials__item">
            <a href="" class="socials__link" target="_blank">
                <svg class="socials__icon" aria-label="facebook">
                    <use href=""></use>
                </svg> 
             </a>
        </li>
    </ul>
    <div class="contacts__wrapper">
        <span class="contacts__text">Feel free to contact</span>
        <a class="contacts__tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
    </div>
    <p class="footer__copyright">&copy; 2019 - IceCream.All Rights Reserved.</p>
</footer>