<section class="gallery">
    <div class="gallery__container container">
        <h2 class="gallery__title visually-hidden">The gallery of our products</h2>
        <div class="gallery__imagebox">
           <picture>
               <source srcset="./images/desktop/Gallery/gallerybg.png 1x, 
                ./images/desktop/Gallery/gallerybg@2x.png 2x" media="(min-width: 1280px)" type="image/png"/>
                <source srcset="./images/tablet/Gallery/gallerybgtablet.png 1x, 
                ./images/tablet/Gallery/gallerybgtablet@2x.png 2x" media="(min-width: 768px)" type="image/png"/>
                <source srcset="./images/mobile/Gallery/gallerybgmobile.png 1x, 
                ./images/mobile/Gallery/gallerybgmobile@2x.png 2x" media="(max-width: 767px)" type="image/png"/>
                <img class="gallery__image" src="./images/mobile/Gallery/gallerybgmobile.png" alt="The gallery of our products" 
                width="364px" height="122px"/>
            </picture>
        </div>
    </div>
</section>
