<section class="hero">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/desktop/hero-header/circlepink.png    1x,
          ./images/desktop/hero-header/circlepink@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/tablet/hero-header/circlepink.png    1x,
          ./images/tablet/hero-header/circlepink@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/mobile/hero-header/circlepink.png    1x,
          ./images/mobile/hero-header/circlepink@2x.png 2x
        "
        media="(max-width: 767.98px)"
        type="image/png"
      />
      <img
        class="hero__circle-image"
        src="images/desktop/hero-header/circlepink.png"
        alt="circle"
        loading="lazy"
      />
    </picture>

    <picture>
      <source
        srcset="
          ./images/desktop/hero-header/icecream.png    1x,
          ./images/desktop/hero-header/icecream@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/tablet/hero-header/icecream.png    1x,
          ./images/tablet/hero-header/icecream@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/mobile/hero-header/icecream.png    1x,
          ./images/mobile/hero-header/icecream@2x.png 2x
        "
        media="(max-width: 767.98px)"
        type="image/png"
      />
      <img
        class="hero__icecream-image"
        src="./images/desktop/hero-header/icecream.png"
        alt="icecream"
        loading="lazy"
      />
    </picture>

    <!-- 2 img сверху будут вставляться с помощью position:absolute-->

    <!-- <div class="header__bottom"> -->
    <div class="header__bottom-container">
      <img
        class="header__bottle"
        src="images/desktop/hero-header/bottle.png"
        alt="bottle of milk"
      />
      <div class="header__bottom-text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="header__arrow-svg-container" href="">
          <svg class="header__arrow-svg" width="24" height="24">
            <use href="images/svg/icons.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <img
      class="header__girl-img"
      src="images/desktop/hero-header/girl.png"
      alt="girl with ice cream"
    />
  </div>

  <section></section>
</section>
