<header class="header header__container">
  <div class="header__wrapper">
    <div class="header__top">
      <a class="header__logo" href="">
        <img src="images/desktop/hero-header/logo.png" alt="logo" />
      </a>
      <nav class="header__nav">
        <ul class="header__nav-menu">
          <li class="header__nav-item">
            <a href="">Home</a>
          </li>
          <li class="header__nav-item">
            <a href="">About us</a>
          </li>
          <li class="header__nav-item">
            <a href="">How it’s made?</a>
          </li>
          <li class="header__nav-item">
            <a href="">Our products</a>
          </li>
          <li class="header__nav-item">
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="btn-lm header__button" type="button" data-modal-open>
        <span>Buy now</span>
        <svg class="icon-arrow" width="6" height="10">
          <use href="images/svg/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="hero>">
      <div class="hero__container">
        <div class="hero__title-container">
          <h1 class="hero__title">
            ice cream made with <span class="hero__title--accent">passion</span>
          </h1>
          <div class="hero__title-buttons-container">
            <a tabindex="-1" href="#products">
              <button class="btn-dm hero__title-button-products" type="button">Products</button>
            </a>
            <a tabindex="-1" href="#about">
              <button class="btn-lm hero__title-button-how" type="button">How it's made?</button>
            </a>
          </div>
        </div>
        <div class="hero__side-container">
          <div class="hero__side">
            <p class="hero__side-number">16</p>
            <p class="hero__side-text">cafes</p>
            <!-- вставить кружочек как псевдоэлемент ::after -->
          </div>
          <div class="hero__side">
            <p class="hero__side-number">23</p>
            <p class="hero__side-text">food trucks</p>
            <!--вставить кружочек как псевдоэлемент ::after-->
          </div>
        </div>
      </div>
      <!--________________________________________________________-->
      <img
        class="hero__circle-image"
        src="images/desktop/hero-header/circlepink.png"
        alt="circle"
      />
      <img
        class="hero__icecream-image"
        src="images/desktop/hero-header/icecream.png"
        alt="icecream"
      />
      <!-- 2 img сверху будут вставляться с помощью position:absolute-->
    </div>
    <!-- <div class="header__bottom"> -->
    <div class="header__bottom-container">
      <img
        class="header__bottle"
        src="images/desktop/hero-header/bottle.png"
        alt="bottle of milk"
      />
      <div class="header__bottom-text-container">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a class="header__arrow-svg-container" href="">
          <svg class="header__arrow-svg" width="24" height="24">
            <use href="images/svg/icons.svg#icon-arrow-right"></use>
          </svg>
          <!-- <img
            class="header__arrow-right"
            src="images/desktop/hero-header/arrow-right.png"
            alt="arrow-right"
          /> -->
        </a>
      </div>
    </div>
  </div>
  <img
    class="header__girl-img"
    src="images/desktop/hero-header/girl.png"
    alt="girl with ice cream"
  />
</header>
