.section-about{
    padding-top: 125px;
    padding-bottom: 39px;

    background-color:$bg ;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 720px;
    
    // Размер  до 767px 
    @media (max-width: 767px) {
        background-image:  url("../images/mobile/About/milkmobile.png");
 
         // Размер  от 1280px retina
         @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
       
               background-image:  url("../images/mobile/About/milkmobile@2x.png");
         }
       }

    // Размер  от 1280px 
    @media (min-width: 1280px) {
        background-position: center;
         background-image:  url("../images/desktop/About/milk.png");
  
          // Размер  от 1280px retina
          @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
        
                background-image:  url("../images/desktop/About/milk@2x.png");
          }
        }
   

    @include mq(tablet-only){
        padding-top: 130px;
        padding-bottom: 66px;
    }

}

.section-about .title{
    margin-bottom: 26px;

    @include mq(tablet-only) {
        margin-bottom: 50px;
    }
    
    @include mq(desktop) {
        margin-bottom: 55px;
    }

}
.about{
    @include mq(tablet){
        display: flex;
    }
}


.about_discription{
    margin-top: 45px;
    @include mq(tablet-only){
        width: 340px;
        margin-left: 17px;
    }
    @include mq(desktop){
        width: 463px;
        margin-left: 74px;
    }
}


.about_discription-title{
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 1.62;
    color: $black;

    @include mq(tablet-only){
        font-size: 14px;
        line-height: 1.76;
    }

    @include mq(desktop){
        font-size: 16px;
        line-height: 1.76;
    }

}

.about_discription-list{
    margin-bottom: 25px;
    @include mq(tablet-only){
        margin-bottom: 62px;
    }
    @include mq(desktop){
        margin-bottom: 45px;
    }
}

.about_discription-item:not(:last-child){
    margin-bottom: 20px;

    @include mq(tablet-only){
        margin-bottom: 25px;
    }
    @include mq(desktop){
        margin-bottom: 44px;
    }
}

.about_discription-text{
    font-size: 12px;
    line-height: 1.62;
    color: $third;

    @include mq(tablet-only){
        font-size: 14px;
        line-height: 1.76;
    }

    @include mq(desktop){
        font-size: 16px;
        line-height: 1.94;
    }
}

// Кнопка
.about_discription .btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
}

