.advantages__container {
    background-color: $bg;
}
.advantages__list {
    
    @include mq(tablet) {
        display: flex;
    }
    @include mq(desktop) {
    }
}
.advantages__item {
    position: relative;
    width: 230px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include mq(tablet) {
        width: 180px;
        height: 226px;
    }
    @include mq(desktop) {
        width: 330px;
        height: 222px;
    }
}
.advantages__item:not(:last-child) {
    @include mq(mobile-only) {
    margin-bottom: 38px;
    }
    @include mq(tablet) {
      margin-right: 60px;
    }
    @include mq(desktop) {
     margin-right: 30px;
    }
    
}
.advantages__point {
    
    color: $accent;
    margin-bottom: 14px;
    font-family: $secondary-font;
    @include font-contact($fw: 400, $fz: 36px, $lh: 1.14, $ls: 4%);
    
    @include mq(tablet) {
        @include font-contact($fw: 400, $fz: 48px, $lh: 1.15, $ls: 4%);
    }
    
    @include mq(desktop) {
        @include font-contact($fw: 400, $fz: 58px, $lh: 1.14, $ls: 4%);
    }
}
.advantages__point--first::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    width: 33px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/mobile/advantages/icon1mobile.png');
    @include mq(retina) {
        background-image: url('../images/mobile/advantages/icon1mobile@2x.png');
    }
    @include mq(tablet) {
        background-image: url('../images/tablet/advantages/icon1tablet.png');
        @include mq(retina) {
            background-image: url('../images/tablet/advantages/icon1tablet@2x.png');
        }
    }
    @include mq(desktop) {
        background-image: url('../images/desktop/advantages/icon1.png');
    
        @include mq(retina) {
            background-image: url('../images/desktop/advantages/icon1@2x.png');
        }
    }
}
.advantages__point--second::before {
    content: ' ';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/mobile/advantages/icon2mobile.png');
    @include mq(retina) {
        background-image: url('../images/mobile/advantages/icon2mobile@2x.png');
    }
    @include mq(tablet) {
        background-image: url('../images/tablet/advantages/icon2tablet.png');
        @include mq(retina) {
            background-image: url('../images/tablet/advantages/icon2tablet@2x.png');
        }
    }
    @include mq(desktop) {
        background-image: url('../images/desktop/advantages/icon2.png');
        @include mq(retina) {
            background-image: url('../images/desktop/advantages/icon2@2x.png');
        }
    }
}
.advantages__point--third::before {
    content: ' ';
    position: absolute;
    display: block;
    width: 44px;
    height: 50px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/mobile/advantages/icon3mobile.png');
    @include mq(retina) {
        background-image: url('../images/mobile/advantages/icon3mobile@2x.png');
    }
    @include mq(tablet) {
        background-image: url('../images/tablet/advantages/icon3tablet.png');
        @include mq(retina) {
            background-image: url('../images/tablet/advantages/icon3tablet@2x.png');
        }
    }
    @include mq(desktop) {
        background-image: url('../images/desktop/advantages/icon3.png');
        @include mq(retina) {
            background-image: url('../images/desktop/advantages/icon3@2x.png');
        }
    }
}

.advantages__description {
    @include font-contact($fw: 700, $fz: 12px, $lh: 1.66, $ls: normal);
    
    @include mq(tablet) {
        @include font-contact($fw: 700, $fz: 14px, $lh: 1.71, $ls: normal);
    }
    
    @include mq(desktop) {
        @include font-contact($fw: 700, $fz: 16px, $lh: 1.75, $ls: normal);
    }
}
