.slider {
    margin-left: auto;
    margin-right: auto;
}
.slider__page {

}
.slider__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__img-box {
    margin-bottom: 29px;

    @include mq(tablet-only) {
        margin-bottom: 19px;
    }

    @include mq(desktop) {
        margin-bottom: 15px;
    }
}

.slider__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slider__icon-box {
    position: relative;
}
.slider__icon {
    fill: rgb(225, 225, 225);;
}




.slider__text-box {
    background-color: rgb(250, 250, 250);
    text-align: center;
    margin-bottom: 52px;
    
    @include mq(tablet-only) {
    margin-bottom: 42px;
    }

    @include mq(desktop) {
    margin-bottom: 34px;
    }    
}

.slider__text {
    display: block;
    background-color: -moz-repeating-linear-gradient(to bottom, rgb(250, 250, 250), rgb(250, 250, 250) 25px, rgb(225, 225, 225) 25px, rgb(225, 225, 225) 30px);
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 157px;
    height: auto;

    @include mq(tablet-only) {
        font-size: 14px;
    max-width: 460px;
    }
        
    @include mq(desktop) {
        font-size: 16px;
    max-width: 750px;
    }
}



.slider__address-box {
    text-align: center;
}
.slider__address {
    font-size: 14px;
        @include mq(tablet-only) {
            font-size: 16px;
        }
        
        @include mq(desktop) {
            font-size: 20px;
        }
}