.section-reviews {
    padding-bottom: 43px;
    padding-top: 40px;

    @include mq(tablet-only) {
        padding-bottom: 60px;
        padding-top: 60px;
    }
    @include mq(desktop){
     padding-bottom: 66px;
     padding-top: 61px;
    }
}
.slider {
    margin-left: auto;
    margin-right: auto;
}
.slider__page {
    padding-left: 0;
    padding-right: 0;
    @include mq(tablet-only) {
    padding-left: 40px;
    padding-right: 40px;
    }
}
.slider__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__img-box {
    margin-bottom: 29px;

    @include mq(tablet-only) {
    margin-bottom: 19px;
    }

    @include mq(desktop) {
    margin-bottom: 15px;
    }
}

.slider__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slider__item{
    padding-top: 43px;
    padding-bottom: 26px;
    margin-bottom: 30px;
    position: relative;
    background: rgb(250, 250, 250);

    @include mq(mobile-only) {
    min-width: 280px;
    min-height: 308px;
    }
    @include mq(tablet-only) {
    padding-top: 47px;
    padding-bottom: 34px;
    padding-right: 36px;
    padding-left: 60px;
    margin-bottom: 24px;
    min-width: 620px;
    min-height: 164px;
    }
    @include mq(desktop) {
    padding-top: 47px;
    padding-bottom: 39px;
    padding-right: 54px;
    padding-left: 59px;
    margin-bottom: 15px;
    width: 926px;
    min-height: 138px;
}
}

.slider__icon {
    fill: rgb(225, 225, 225);
}

.slider__text-box {
    position: relative;
    z-index: 10;
    padding-left: 7px;
    padding-right: 16px;
    line-height: 31px;
 @include mq(mobile-only) {
    margin: 0 auto;
    max-width: 180px;
    background-image: repeating-linear-gradient(180deg,
        transparent -3px,
        transparent 26px,
        rgb(225, 225, 225) 28px);
    
    line-height: 31px;
 }
@include mq(tablet-only) {
    max-width: 524px;
    background-image: repeating-linear-gradient(180deg,
        transparent -3px,
        transparent 24px,
        rgb(225, 225, 225) 26px);
        min-height: 78px;
}
@include mq(desktop) {
    min-width: 822px;
    min-height: 74px;
    background-image: repeating-linear-gradient(180deg,
        transparent -2px,
        transparent 28.5px,
        rgb(225, 225, 225) 30.6px);
}
}

.slider__text {
    position: relative;
    z-index: 10;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    line-height: 30.6px;

    @include mq(tablet-only) {
    font-size: 14px;
    line-height: 2.14;
    max-width: 460px;
    margin-bottom: 5px;
    }
        
    @include mq(desktop) {
    font-size: 16px;
    line-height: 1.87;
    max-width: 750px;
    }
}
.slider__text-box::before {

    position: absolute;
    top: -15px;
    left: 7px;
    width: 54px;
    height: 40px;
    content: "";
    background-image: url("../images/svg/quotes.png");
    @include mq (tablet-only) {
    top: -15px;
    left: 0;
    }
    @include mq(tablet-only) {
        left: -15px;
    }
    @include mq(desktop) {
        left: -1px;
    }
}
.slider__point-iqon {
    margin-bottom: 18px;
    @include mq(tablet-only) {
        margin-bottom: 14px;
    }
    @include mq(desktop) {
        margin-bottom: 15px;
    }
}

.slider__address {
    color: $black;
    text-align: center;
    line-height: 1.85;
    font-size: 14px;
    margin-bottom: 30px;
        @include mq(tablet-only) {
        font-size: 16px;
        margin-bottom: 35px;
        }
        
        @include mq(desktop) {
        font-size: 20px;
        margin-bottom: 35px;
        }
}
.slick-dots li button:before {
    font-size: 12px;
    line-height: 1.9;
}
.slick-dots li.slick-active button:before {
    
// fallback background-image: url(//svgshare.com/i/g1o.svg);
 background-image: url(../images/svg/house.svg);
 background-size: 12px;
 background-position: 50% 50%;
 color: transparent;
 background-repeat: no-repeat;
}
