.footer {

    padding-top: 56px;
    padding-bottom: 25px;

    @include mq(tablet) {
        padding-top: 79px;
        padding-bottom: 18px;
    }

    @include mq(desktop) {
        padding-top: 82px;
        padding-bottom: 10px;
    }

    background-color:$bg;

    &__wrapper {
        position: relative;
        padding-bottom: 43px;
        margin-bottom: 22px;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            display: block;
            height: 1px;
            width: 100vw;

            background-color: rgb(225, 225, 225);
        }
            
        @include mq(tablet) {
            display: flex;
            justify-content: space-between;
            padding-bottom: 91px;
            margin-bottom: 29px;
        }

        @include mq(desktop) {
            padding-bottom: 97px;
            margin-bottom: 9px;
        }
    }
}
   
.footer__heading {
    font-weight: 400;
    max-width: 220px;
    width: 100%;
    margin-bottom: 43px;

    text-align: left;

    @include mq(tablet){
        max-width: 325px;
        margin-bottom: 0;
    }

    @include mq(desktop){
        max-width: 474px;
    }
}

.footer__span {
    display: block;
    margin-top: 17px;

    text-align: left;

    @include mq(tablet){
        margin-top: 16px;
    }

    @include mq(desktop){
        margin-top: 15px;
    }
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 46px;

    @include mq(desktop){
        margin-bottom: 50px;
    }
}

.socials-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    background-color:rgb(254, 165, 187);
    border-radius: 50%;
    transition: background-color $animation-delay $animation-function;

    @include mq(tablet){
        width: 34px;
        height: 34px;
    }

    &:hover,
    &:focus {
        background-color: $accent;
    }

    &:not(:last-child) {
        margin-right: 28px;
        @include mq(tablet){
            margin-right: 30px;
        }
    
        @include mq(desktop){
            margin-right: 24px;
        }
    }
}

.socials-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.socials-list__icon {
    fill: $white;
}


.contacts {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: right;

    @include mq(tablet) {
        font-size: 14px;
    }
    @include mq(desktop) {
        font-size: 16px;
    }

    &__tel {
        color: $accent;
    }
}

.footer__copyright {
    max-width: 150px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    font-family: $primary-font;
    font-weight: 700;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.02em;
    color: $third;

    @include mq(tablet) {
        max-width:287px;

        line-height: 1.86;
    }
}