// Временно поставила размеры конейнера для проверки градиента
.gallery {
    height: 122px;
    background-image: linear-gradient(to bottom,
        $bg 0,
        $bg 40%,
        $white 40%);
    padding: 0;
    @include mq(tablet) {
        height: 264px;
    }
    @include mq(desktop) {
        height: 430px;
    }
}
.gallery__container {
    padding: 0;
    text-align: -webkit-center;
}
.gallery__imagebox {
    width: 100%;
 }

.gallery__image { 
     width: auto;  
    @include mq(tablet) {
        height: 264px;
    }
    @include mq(desktop) {
        height: 430px;
    }
 }