.hero {
    background-color: $light-pink;
}

.hero-container {
    overflow: hidden;
    position: relative;
}

.hero__top-wrapper {
    display: flex;
    align-items: baseline;
}

.hero__title-wrapper {
    font-weight: 400;
    width: 277px;
    margin-top: 84px;
    z-index: 15;


    @include mq(mobile-only) {
        width: 218px;
        margin-top: 190px;
    }

    @include mq(tablet-only) {
        width: 162px;
        margin-top: 102px;
    }

    @include mq(desktop) {
        width: 277px;
        margin-top: 171px;
    }

}

.hero__title {
    font-family: $secondary-font;

    font-size: 38px;
    color: $white;
    text-transform: uppercase;
    line-height: 1.16;

    @include mq(mobile-only) {
        font-size: 26px;
    }

    @include mq(tablet-only) {
        font-size: 22px;
    }

}

.hero__title--accent {
    display: block;
    font-size: 54px;
    letter-spacing: 0.06em;

    color: $accent;

    @include mq(mobile-only) {
        font-size: 42px;
    }

    @include mq(tablet-only) {
        font-size: 28px;
    }
}

.hero__btn-wrapper {
    display: flex;

    margin-bottom: 173px;
    margin-top: 20px;

    margin-bottom: 160px;

    @include mq(tablet-only) {
        margin-bottom: 66px;

    }

    @include mq(Desktop) {
        margin-top: 25px;
        margin-bottom: 112px;
    }
}

.hero__title-btn-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;

    min-height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.28;

    @include mq(notDesktop) {
        width: 61px;
        min-height: 24px;
        border-radius: 12px;

        margin-right: 9px;
        line-height: 1.25;
        font-size: 8px;

    }

    margin-right: 15px;

}

.hero__title-btn-how {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    min-height: 40px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.28;

    @include mq(notDesktop) {
        width: 82px;
        min-height: 24px;
        border-radius: 12px;
        line-height: 1.25;
        font-size: 8px;
    }

}

.stores {
    display: flex;
    flex-direction: column;
    margin-top: 78px;

    @include mq(mobile-only) {
        display: none;
    }

    margin-left: auto;

    &__item {
        margin-right: 12px;

        &:not(:last-child) {
            margin-bottom: 14px;
        }

    }



    &__number {
        font-family: $secondary-font;
        position: relative;

        font-weight: 400;
        font-size: 28px;
        line-height: 1.14;
        text-align: right;

        color: $accent;

        z-index: 2;

        @include mq(desktop) {
            font-size: 46px;
            line-height: 1.15;
        }


        &::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;

            @include mq(desktop) {
                width: 30px;
                height: 30px;
            }

            top: 0;
            right: 0;


            border-radius: 50%;

            display: block;
            background-color: $white;

            transform: translate(55%, -20%);
            z-index: -1;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        text-align: right;
        color: $white;
    }
}

.hero__bottom-discription {
    font-weight: 400;
    color: $white;
    margin-left: 120px;
    margin-bottom: 34px;
    width: 114px;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    @include mq(mobile-only) {
        display: none;
    }

    @include mq(desktop) {
        width: 200px;
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 56px;
        margin-left: 218px;
    }

    &>p {
        margin-bottom: 7px;

        @include mq(desktop) {
            margin-bottom: 20px;
        }

    }
}

.btn-svg-info {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: $white;

    width: 26px;
    height: 26px;

    &:hover,
    &:focus {
        background-color: $accent;
    }

    &:hover .arrow-svg,
    &:focus .arrow-svg {
        fill: $white;
    }
}

.arrow-svg {
    fill: $accent;
}

.girl,
.bottle {
    @include mq(mobile-only) {
        display: none;
    }

}

.girl {
    position: absolute;
    right: 34px;
    bottom: 0;
    z-index: 5;

    @include mq(desktop) {
        right: 115px;
    }

}

.bottle {
    position: absolute;
    left: 34px;
    bottom: 28px;

    @include mq(desktop) {
        left: 115px;
        bottom: 45px;
    }
}




.icecream {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 45%;

    @include mq(mobile-only) {
        bottom: 0;
        left: 55%;
    }

    @include mq(tablet-only) {}


    & ::before {
        width: 346px;
        height: 346px;

        @include mq(tablet-only) {
            width: 324px;
            height: 324px;
            left: -40%;

        }

        @include mq(desktop) {
            width: 538px;
            height: 538px;
            left: -50%;
            top: -20%;
        }

        display: block;
        position: absolute;
        left: -35%;
        top: -5%;


        content: "";
        border-radius: 50%;
        background-color: $second;


        z-index: -1;
    }
}

.icecream-image {
    @include mq(tablet-only) {
        width: 143px;
        height: 336px;
    }

    @include mq(desktop) {
        width: 236px;
        height: 557px;
    }
}

.girl-image {
    @include mq(desktop) {
        width: 293px;
        height: 232px;
    }
}

.bottle-image {
    @include mq(desktop) {
        width: 188px;
        height: 191px;
    }
}