.section-products {

    padding-top: 121px;
    padding-bottom: 98px;

    @include mq (tablet-only) {
        padding-bottom: 112px;
    }

    @include mq (desktop) {
        padding-top: 127px;
        padding-bottom: 119px;
    }

    & .title {
        @include mq (mobile-only) {
            margin-bottom: 30px;
        }

        @include mq (tablet-only) {
            margin-bottom: 40px;
        }

        @include mq (desktop) {
            margin-bottom: 50px;
        }
    }
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mq (mobile-only) {
        grid-template-columns: repeat(1, 1fr);
    }

    gap: 20px;

    @include mq (desktop) {
        gap: 30px;
    }

    color: $white;

    &__card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        align-items: center;
        text-align: center;

        min-height: 485px;
        border-radius: 24px;

        margin-top: 115px;

        @include mq (tablet-only) {
            margin-top: 105px;
        }

        @include mq (desktop) {
            margin-top: 210px;
            min-height: 525px;

        }


        background-color: $light-pink;

        &:nth-child(2n) {
            background-color: $creme;
        }

        &:nth-child(3n) {
            background-color: $light-green;
        }
    }

    &__title {
        margin-top: 22px;
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        text-transform: uppercase;

        @include mq (tablet-only) {
            margin-top: 30px;
        }

        @include mq (desktop) {
            margin-top: 38px;
            font-size: 30px;
            line-height: 1.13
        }

        &::after {
            content: "";
            width: 26px;
            height: 6px;

            margin-left: -13px;
            position: relative;
            display: block;

            left: 50%;
            right: 50%;
            background-image: url(../images/svg/dots.svg);
            background-repeat: no-repeat;

            margin-top: 30px;
            margin-bottom: 30px;


            @include mq (desktop) {
                margin-top: 32px;
                margin-bottom: 32px;
            }
        }
    }



    &__description {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.76;


        margin-bottom: 40px;

        @include mq (desktop) {
            font-size: 16px;
            margin-bottom: 62px;
        }

        @include mq (mobile-only) {
            line-height: 1.52;
            margin-bottom: 30px;

        }

        &::before {
            margin-bottom: 30px;

            @include mq (desktop) {
                margin-bottom: 32px;
            }

            background-image: url(../images/desktop/products/arrow-right.png);


        }
    }

    &__btn {
        display: block;
        text-align: center;
        width: 52px;
        height: 40px;
        background-color: inherit;
        cursor: pointer;

        margin-bottom: 40px;

        @include mq (desktop) {
            margin-bottom: 50px;
        }

    }
}

.card-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -115px;
    padding-left: 40px;
    padding-right: 40px;

    @include mq (tablet-only) {
        margin-top: -105px;
        padding-left: 11px;
        padding-right: 11px;
    }

    @include mq (desktop) {
        margin-top: -210px;
        padding-left: 44px;
        padding-right: 44px;
    }
}

.product-list__card::before {
    position: relative;
    top: -115px;

    display: block;
    content: "";
    width: 249px;
    height: 252px;

    @include mq (tablet-only) {
        top: -105px;
        width: 220px;
        height: 224px;

    }

    @include mq (desktop) {
        top: -210px;
        width: 330px;
        height: 335px;
    }

    background-repeat: no-repeat;
    background-size: contain;
}

// 
.product-list__card {
    @include card (1) {
        background-image: url(../images/mobile/products/product1.png);

        @include mq(retina) {
            background-image: url(../images/mobile/products/product1@2x.png);

        }

    }

    @include card (2) {
        background-image: url(../images/mobile/products/product2.png);

        @include mq(retina) {
            background-image: url(../images/mobile/products/product2@2x.png);

        }
    }

    @include card (3) {
        background-image: url(../images/mobile/products/product3.png);

        @include mq(retina) {
            background-image: url(../images/mobile/products/product3@2x.png);

        }
    }
}

// Tablet vertion
.product-list__card {

    @include card (1) {
        @include mq (tablet-only) {
            background-image: url(../images/tablet/products/product1.png);

            @include mq(retina) {
                background-image: url(../images/tablet/products/product1@2x.png);

            }
        }
    }

    @include card (2) {
        @include mq (tablet-only) {
            background-image: url(../images/tablet/products/product2.png);

            @include mq(retina) {
                background-image: url(../images/tablet/products/product2@2x.png);

            }
        }
    }

    @include card (3) {
        @include mq (tablet-only) {
            background-image: url(../images/tablet/products/product3.png);

            @include mq(retina) {
                background-image: url(../images/tablet/products/product3@2x.png);

            }
        }
    }
}

// Desctop vertion
.product-list__card {

    @include card (1) {
        @include mq (tablet-only) {
            background-image: url(../images/desktop/products/product1.png);

            @include mq(retina) {
                background-image: url(../images/desktop/products/product1@2x.png);

            }
        }
    }

    @include card (2) {
        @include mq (tablet-only) {
            background-image: url(../images/desktop/products/product2.png);

            @include mq(retina) {
                background-image: url(../images/desktop/products/product2@2x.png);

            }
        }
    }

    @include card (3) {
        @include mq (tablet-only) {
            background-image: url(../images/desktop/products/product3.png);

            @include mq(retina) {
                background-image: url(../images/desktop/products/product3@2x.png);

            }
        }
    }
}